{
  "swagger": "2.0",
  "info": {
    "description": "An API's to support applying for an extension of a filing deadline",
    "version": "1.0.0",
    "title": "Companies House extensions API"
  },
  "host": "api.companieshouse.gov.uk",
  "basePath": "/company/{companyNumber}/extensions/requests",
  "schemes": [
    "https",
    "http"
  ],
  "tags": [
    {
      "name": "Input API - Extension Requests"
    },
    {
      "name": "Input API - Attachments"
    },
    {
      "name": "Input API - Reasons"
    },
    {
      "name": "Processor API"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "parameters": [
          {
            "in": "body",
            "name": "extension request",
            "schema": {
              "$ref": "#/definitions/ExtensionCreateRequest"
            }
          }
        ],
        "tags": [
          "Input API - Extension Requests"
        ],
        "summary": "create a new extension request resource",
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "request created",
            "schema": {
              "$ref": "#/definitions/ExtensionRequestFull"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Input API - Extension Requests"
        ],
        "summary": "get a list of extension requests made against a company",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "a list of extension requests",
            "schema": {
              "$ref": "#/definitions/ExtensionRequestList"
            }
          },
          "404": {
            "description": "no extension requests were found for this company"
          }
        }
      }
    },
    "/{requestId}": {
      "parameters": [
        {
          "in": "path",
          "name": "requestId",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "tags": [
          "Input API - Extension Requests"
        ],
        "summary": "Get a single extension request",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "the extension request resource",
            "schema": {
              "$ref": "#/definitions/ExtensionRequestFull"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Input API - Extension Requests"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        ],
        "summary": "patch the resource to mark it as submitted",
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "the request resource has been updated"
          },
          "404": {
            "description": "the request does not exist"
          }
        }
      },
      "delete": {
        "tags": [
          "Input API - Extension Requests"
        ],
        "summary": "Delete an extension request",
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "The extension request was deleted. No body is returned."
          },
          "404": {
            "description": "The extension request was not found"
          }
        }
      }
    },
    "/{requestId}/reasons/{reasonId}/attachments": {
      "parameters": [
        {
          "in": "path",
          "name": "requestId",
          "type": "string",
          "description": "the extension request id",
          "required": true
        },
        {
          "in": "path",
          "name": "reasonId",
          "required": true,
          "type": "string",
          "description": "The ID representing the extension reason"
        }
      ],
      "post": {
        "tags": ["Input API - Attachments"],
        "summary": "upload supporting evidence",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "upfile",
            "type": "file",
            "description": "the file content",
            "required": true
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "202": {
            "description": "the file was uploaded for scanning",
            "schema": {
              "$ref": "#/definitions/Attachment"
            }
          },
          "404": {
            "description": "the request or reason does not exist",
            "schema": {
              "$ref": "#/definitions/errors"
            }
          },
          "400": {
            "description": "there was an error processing the request"
          }
        }
      }
    },
    "/{requestId}/reasons/{reasonId}/attachments/{attachmentId}": {
      "parameters": [
        {
          "in": "path",
          "name": "requestId",
          "type": "string",
          "required": true,
          "description": "the extension request id"
        },
        {
          "in": "path",
          "name": "attachmentId",
          "type": "string",
          "required": true,
          "description": "the attachment id"
        },
        {
          "in": "path",
          "name": "reasonId",
          "type": "string",
          "required": true,
          "description": "the reason id"
        }
      ],
      "delete": {
        "tags": ["Input API - Attachments"],
        "summary": "delete the attachment",
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "the attachment was deleted"
          },
          "404": {
            "description": "the attachment does not exist"
          }
        }
      },
      "get": {
        "tags": ["Input API - Attachments"],
        "summary": "attachment information",
        "produces": [
          "application/json",
          "application/octet-stream",
          "image/png",
          "image/jpg",
          "other..."
        ],
        "responses": {
          "200": {
            "description": "information about the attachment",
            "schema": {
              "$ref": "#/definitions/Attachment"
            }
          },
          "404": {
            "description": "the attachment does not exist"
          }
        }
      }
    },
    "/{requestId}/reasons/{reasonId}/attachments/{attachmentId}/download": {
      "parameters": [
        {
          "in": "path",
          "name": "requestId",
          "type": "string",
          "required": true,
          "description": "the extension request id"
        },
        {
          "in": "path",
          "name": "attachmentId",
          "type": "string",
          "required": true,
          "description": "the attachment id"
        },
        {
          "in": "path",
          "name": "reasonId",
          "type": "string",
          "required": true,
          "description": "the reason id"
        }
      ],
      "get": {
        "tags": ["Input API - Attachments"],
        "summary": "download the attachment",
        "produces": [
          "application/json",
          "application/octet-stream",
          "image/png",
          "image/jpg",
          "other..."
        ],
        "responses": {
          "200": {
            "description": "the file will begin to download",
            "schema": {
              "type": "file"
            }
          },
          "404": {
            "description": "the attachment does not exist"
          }
        }
      }
    },
    "/{requestId}/process": {
      "parameters": [
        {
          "in": "path",
          "name": "requestId",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "parameters": [
          {
            "in": "body",
            "name": "status",
            "schema": {
              "$ref": "#/definitions/ExtensionRequestFull"
            }
          }
        ],
        "tags": [
          "Processor API"
        ],
        "summary": "starts the backend processing of the extension request",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The status has been updated. If the status is set to 'submitted', then downstream processing will execute and the status can no longer be reverted."
          }
        }
      }
    },
    "/{requestId}/reasons": {
      "parameters": [
        {
          "in": "path",
          "name": "requestId",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "tags":[
          "Input API - Reasons"
        ],
        "summary": "get a list of reasons for this extension request",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "a list of reasons",
            "schema": {
              "$ref": "#/definitions/ReasonList"
            }
          }
        }
      },
      "post": {
        "parameters": [
          
        {
          "in": "body",
          "name": "body",
          "schema": {
            "$ref":"#/definitions/ExtensionCreateReason"
          }
        }
        ],
        "tags": [
          "Input API - Reasons"
        ],
        "summary": "Add a reason for supporting the extension",
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "reason added to extension",
            "schema": {
              "$ref": "#/definitions/ExtensionReason"
            }
          }
        }
      }
    },
    "/{requestId}/reasons/{reasonId}": {
      "parameters": [
        {
          "in": "path",
          "name": "requestId",
          "required": true,
          "type": "string",
          "description": "The ID representing the extension request"
        },
        {
          "in": "path",
          "name": "reasonId",
          "required": true,
          "type": "string",
          "description": "The ID representing the extension reason"
        }
      ],
      "delete": {
        "tags": [
          "Input API - Reasons"
        ],
        "summary": "Delete a reason from this extension request",
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "The reason was removed"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "in": "body",
            "name": "Extension reason",
            "schema": {
              "$ref": "#/definitions/ExtensionCreateReason"
            }
          }
        ],
        "tags": [
          "Input API - Reasons"
        ],
        "summary": "make changes to the extension reason",
        "responses": {
          "200": {
            "description": "The reason was updated",
            "schema": {
              "$ref": "#/definitions/ExtensionReason"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ExtensionRequestFull": {
      "allOf": [
        {
          "type": "object",
          "properties": {
            "etag": {
              "type": "string"
            },
            "id": {
              "type": "string"
            },
            "created_on": {
              "type": "string",
              "format": "date-time"
            },
            "created_by": {
              "type": "object",
              "$ref": "#/definitions/CreatedBy"
            },
            "reasons": {
              "type": "object",
              "properties": {
                "<key>": {
                  "type": "string",
                  "format": "uri"
                }
              }
            },
            "accounting_period_start_on": {
              "type": "string",
              "format": "date"
            },
            "accounting_period_end_on": {
              "type": "string",
              "format": "date"
            },
            "links": {
              "type": "object",
              "properties": {
                "self": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          }
        },
        {
          "$ref":"#/definitions/Status"
        }
      ]
    },
    "CreatedBy": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "forename": {
          "type": "string"
        },
        "surname": {
          "type": "string"
        },
        "email": {
          "type": "string",
          "format": "email"
        }
      }
    },
    "ReasonList": {
      "allOf": [
        {
          "$ref": "#/definitions/ListResponse"
        },
        {
          "type": "object",
          "properties": {
            "items": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ExtensionReason"
              }
            }
          }
        }
      ]
    },
    "ExtensionRequestList": {
      "allOf": [
        {
          "$ref": "#/definitions/ListResponse"
        },
        {
          "type": "object",
          "properties": {
            "items": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ExtensionRequestFull"
              }
            }
          }
        }
      ]
    },
    "ListResponse": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string"
        },
        "items_per_page": {
          "type": "integer"
        },
        "start_index": {
          "type": "integer"
        },
        "total_results": {
          "type": "integer"
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "open",
            "submitted"
          ]
        }
      }
    },
    "ExtensionCreateRequest": {
      "type": "object",
      "properties": {
        "accounting_period_start_on": {
          "type": "string",
          "format": "date"
        },
        "accounting_period_end_on": {
          "type": "string",
          "format": "date"
        }
      }
    },

    "ExtensionCreateReason": {
      "type": "object",
      "properties": {
        "reason": {
          "type": "string"
        },
        "additional_text": {
          "type": "string"
        },
        "start_on": {
          "type": "string",
          "format": "date"
        },
        "end_on": {
          "type": "string",
          "format": "date"
        }
      }
    },
    "ExtensionReason": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string"
        },
        "reason": {
          "type": "string"
        },
        "additional_text": {
          "type": "string"
        },
        "start_on": {
          "type": "string",
          "format": "date"
        },
        "end_on": {
          "type": "string",
          "format": "date"
        },
        "attachments": {
          "type": "object",
          "properties": {
            "<key>": {
              "type": "string",
              "format": "uri"
            }
          }
          
        }
      }
    },
    "Attachment": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        },
        "content_type": {
          "type": "string"
        },
        "size": {
          "type": "number"
        },
        "links": {
          "type": "object",
          "properties": {
            "download": {
              "type": "string",
              "format": "uri"
            },
            "self": {
              "type": "string",
              "format": "uri"
            }
          }
        }
      }
    },
    "errors": {
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "properties": {
              "error": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "location": {
                "type": "string",
                "format": "uri"
              },
              "location-type": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
